doctype html
html(lang='en', ng-app='kolohelios')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='fragment' content='!')
    title kolohelios.com | Jon Edwards | Web Developer
    link(rel='stylesheet' type='text/css' href='/vendor/materialize/dist/css/materialize.min.css' media='screen,projection')
    link(rel='stylesheet' href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='/vendor/sweetalert/lib/sweet-alert.css')
    link(rel='stylesheet' href='/vendor/animate.css/animate.min.css')
    link(rel='stylesheet' href=isProd ? '/index.min.css' : '/index.css')
    link(rel='stylesheet' href='/vendor/github-markdown-css/github-markdown.css')
    link(rel='shortcut icon' href='/favicon.ico')
  body
    include views/nav/nav
    div(ui-view)
    include views/footer/footer
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/materialize/dist/js/materialize.min.js')
    script(src='/vendor/showdown/compressed/Showdown.min.js')
    script(src='/vendor/showdown/compressed/extensions/github.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angularfire/dist/angularfire.min.js')
    script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/vendor/moment/min/moment.min.js')
    //stuff below is so that the markdown works
    script(src='/vendor/angular-sanitize/angular-sanitize.min.js')
    script(src='/vendor/angular-markdown-text/dist/angular-markdown-text.min.js')
    script(src='/vendor/sweetalert/lib/sweet-alert.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
    // Google Analytics code
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62142638-1', 'auto');
      ga('send', 'pageview');
    // Google Analytics code
